<a href="https://colab.research.google.com/github/helmieresearch/helmieresearch/blob/main/Momentum_Ranking_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Install packages

In [ ]:
!pip install yfinance

In [ ]:
!pip install yahooquery

In [ ]:
!pip install stockstats

###Import data

In [4]:
%matplotlib inline
import datetime
from datetime import date
import pandas as pd
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
#import mpld3
#mpld3.enable_notebook()
"""
Settings
"""
portfolio_value = 2000.00
perf_last_month = 2000.00
start = "2020-01-01"
end = "2023-08-13"
ranking_day = "2023-08-10"

# Storing today's date into a variable
today = date.today()
# Storing the specific date
trading_day = today
# Calculate percent difference since last month
perf_pct = (portfolio_value / perf_last_month) - 1
# Print performance, format as percent with two decimals.
print("{} - Last Month Result: {:.2%}".format(trading_day, perf_pct))
# Remember today's portfolio value for next month's calculation
#perf_last_month = portfolio_value

2023-08-10 - Last Month Result: 0.00%

In [5]:

now = datetime.datetime.now().strftime("%Y-%m-%d")
data = yf.Ticker("^J203.JO")
index = data.history(start=start,  end=end)
resetindex = index.reset_index(inplace = True)

index['Date'] = pd.to_datetime(index['Date']).dt.strftime('%Y-%m-%d')

index = index.drop(columns=(['Open', 'High','Low','Volume','Dividends','Stock Splits']))

index.set_index("Date", inplace=True)

index.to_csv('jse_index.csv')

In [6]:
#Import required libraries
import pandas as pd
import json
import requests
import glob
import os
from yahooquery import Ticker
from datetime import datetime

params = {'access_key': 'e52cf3b93696352e880916f8c8adbf0c',
          'limit': 350}
api_result = requests.get('http://api.marketstack.com/v1/exchanges/XJSE/tickers', params)
api_response = api_result.json()
print(f"Exchange Name = {api_response['data']['name']}")
for ticker in api_response['data']['tickers']:
  print(f"{ticker['name']}: {ticker['symbol']}")


# Serializing json
json_object = json.dumps(api_response, indent=4)
# Writing to sample.json
with open("jse.json", "w") as outfile:
    outfile.write(json_object)

# Opening JSON file
with open('jse.json', 'r') as openfile:
    # Reading from json file
    json_object = json.load(openfile)
df1 = pd.json_normalize(json_object["data"]["tickers"])

# dropping null value columns to avoid errors
# new data frame with split value columns
new = df1["symbol"].str.split(".", n = 1, expand = True)
# making separate first name column from new data frame
df1["ticker"]= new[0]
# Dropping old Name columns
df1.drop(columns =["has_intraday","has_eod"], inplace = True)
new.columns = new.columns.astype(str)
new.columns.values[1] = "tickers"
new['0'] + '.' + new['tickers']
new.replace("XJSE", "JO", inplace=True)

result = pd.concat([df1, new], axis=1, join='inner')
df2=result['0'] + '.' + result['tickers']
final = pd.concat([df1, df2], axis=1, join='inner')
final.columns.values[3] = "tickers"
final.columns = final.columns.astype(str)
#Dropping old Name columns
final.drop(columns =["name", "symbol","ticker"], inplace = True)
# Converting a specific Dataframe
# column to list using Series.tolist()
xjse = final["tickers"].tolist()
print("Converting tickers to list...")
print("Output dataframe..." )
print("Writing csv file..." )
print("Saving JSE data to disc...")
print("Saving csv files for each stock to disc...")
symbols = xjse
tickers = Ticker(symbols, asynchronous=True)
data = tickers.history(start= start, end=end, interval='1d')
data= data.drop(['adjclose','dividends','splits'],axis=1)


#Convert dataframe to csv and save to disc
final.to_csv("tickers.csv")
data.to_csv("jse_stocks.csv")

resetindex = data.reset_index(inplace = True)

for i, g in data.groupby('symbol'):
    g.to_csv('/content/Stocks/{}.csv'.format(i), header=True, index_label=False)

# merging the files
joined_files = os.path.join("/content/Stocks/", "*.csv")

# A list of all joined files is returned
joined_list = glob.glob(joined_files)

# Finally, the files are joined
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)

# new dataframe with different column order
df_new = df.iloc[:, [1, 2, 3, 4, 5, 6, 0]]

Tickers = df_new["symbol"].tolist()
mylist = list(dict.fromkeys(Tickers))
df = pd.DataFrame (mylist, columns = ['tickers'])
df.to_csv("/content/tickers.csv")

#Change date format to Year-Month-Day
df_new['date'] =  pd.to_datetime(df_new['date']).dt.strftime('%Y-%m-%d')

df_new.set_index('date', inplace=True)

for i, g in df_new.groupby('symbol'):
    g.to_csv('/content/Stocks_final3/{}.csv'.format(i), header=True, index_label=False)

Exchange Name = Johannesburg Stock Exchange
PROSUS N.V.: PRX.XJSE
ANHEUSER-BUSCH INBEV SA NV: ANH.XJSE
BHP GROUP PLC: BHP.XJSE
BRITISH AMERICAN TOB PLC: BTI.XJSE
NASPERS LTD -N-: NPN.XJSE
COMPAGNIE FIN RICHEMONT: CFR.XJSE
GLENCORE PLC: GLN.XJSE
ANGLO AMERICAN PLC: AGL.XJSE
FIRSTRAND LTD: FSR.XJSE
ANGLO AMERICAN PLAT LTD: AMS.XJSE
STANDARD BANK GROUP LTD: SBK.XJSE
VODACOM GROUP LTD: VOD.XJSE
MONDI PLC: MNP.XJSE
CAPITEC BANK HLDGS LTD: CPI.XJSE
BEE - SASOL LIMITED: SOLBE1.XJSE
SANLAM LIMITED: SLM.XJSE
MTN GROUP LTD: MTN.XJSE
ANGLOGOLD ASHANTI LTD: ANG.XJSE
SASOL LIMITED: SOL.XJSE
ABSA GROUP LIMITED: ABG.XJSE
SOUTH32 LIMITED: S32.XJSE
RMB HOLDINGS LTD: RMH.XJSE
IMPALA PLATINUM HLGS LTD: IMP.XJSE
BID CORPORATION LTD: BID.XJSE
REMGRO LTD: REM.XJSE
KUMBA IRON ORE LTD: KIO.XJSE
NEDBANK GROUP LTD: NED.XJSE
SIBANYE STILLWATER LTD: SSW.XJSE
GOLD FIELDS LTD: GFI.XJSE
INVESTEC LTD: INL.XJSE
INVESTEC PLC: INP.XJSE
OLD MUTUAL LIMITED: OMU.XJSE
NEPI ROCKCASTLE PLC: NRP.XJSE
DISCOVERY LTD: DSY.XJSE
SHOPRITE HOLDINGS LTD: SHP.XJSE
BIDVEST LTD: BVT.XJSE
REINET INVESTMENTS S.C.A: RNI.XJSE
CLICKS GROUP LTD: CLS.XJSE
PEPKOR HOLDINGS LTD: PPH.XJSE
QUILTER PLC: QLT.XJSE
GROWTHPOINT PROP LTD: GRT.XJSE
MEDICLINIC INT PLC: MEI.XJSE
ASPEN PHARMACARE HLDGS LTD: APN.XJSE
PSG GROUP LTD: PSG.XJSE
MULTICHOICE GROUP LTD: MCG.XJSE
MR PRICE GROUP LTD: MRP.XJSE
NORTHAM PLATINUM LTD: NHM.XJSE
RAND MERCHANT INV HLDGS LTD: RMI.XJSE
FORTRESS REIT LTD A: FFA.XJSE
WOOLWORTHS HOLDINGS LTD: WHL.XJSE
CAPITAL&COUNTIES PROP PLC: CCO.XJSE
LIFE HEALTHC GRP HLDGS LTD: LHC.XJSE
HAMMERSON PLC: HMN.XJSE
THE SPAR GROUP LTD: SPP.XJSE
HARMONY GM CO LTD: HAR.XJSE
REDEFINE PROPERTIES LTD: RDF.XJSE
THE FOSCHINI GROUP LIMITED: TFG.XJSE
EXXARO RESOURCES LTD: EXX.XJSE
SANTAM LIMITED: SNT.XJSE
AFRICAN RAINBOW MIN LTD: ARI.XJSE
PICK N PAY STORES LTD: PIK.XJSE
MOMENTUM MET HLDGS LTD: MTM.XJSE
LIBERTY HOLDINGS LTD: LBH.XJSE
VIVO ENERGY PLC: VVO.XJSE
TIGER BRANDS LTD: TBS.XJSE
NETCARE LIMITED: NTC.XJSE
AVI LTD: AVI.XJSE
DISTELL GROUP HLDGS LTD: DGH.XJSE
PIONEER FOODS GROUP LTD: PFG.XJSE
RESILIENT REIT LIMITED: RES.XJSE
TRUWORTHS INT LTD: TRU.XJSE
DIS-CHEM PHARMACIES LTD: DCP.XJSE
ASSORE LTD: ASR.XJSE
GLOBE TRADE CENTRE S.A.: GTC.XJSE
BARLOWORLD LTD: BAW.XJSE
SIRIUS REAL ESTATE LTD: SRE.XJSE
SAPPI LTD: SAP.XJSE
ITALTILE LTD: ITE.XJSE
EPP N.V.: EPP.XJSE
VUKILE PROPERTY FUND LTD: VKE.XJSE
MOTUS HOLDINGS LTD: MTH.XJSE
CORONATION FUND MNGRS LD: CML.XJSE
TELKOM SA SOC LTD: TKG.XJSE
ROYAL BAFOKENG PLATINUM LTD: RBP.XJSE
MAS REAL ESTATE INC.: MSP.XJSE
HYPROP INV LTD: HYP.XJSE
TRANSACTION CAPITAL LTD: TCP.XJSE
FORTRESS REIT LTD B: FFB.XJSE
ARROWHEAD PROP LTD A: AHA.XJSE
PSG KONSULT LIMITED: KST.XJSE
AECI LIMITED: AFE.XJSE
RCL FOODS LIMITED: RCL.XJSE
MASSMART HOLDINGS LTD: MSM.XJSE
EQUITES PROP FUND LTD: EQU.XJSE
INVESTEC PROPERTY FUND LTD: IPF.XJSE
REUNERT LTD: RLO.XJSE
TSOGO SUN GAMING LTD: TSG.XJSE
IMPERIAL LOGISTICS LTD: IPL.XJSE
JSE LTD: JSE.XJSE
DRD GOLD LTD: DRD.XJSE
RDI REIT P.L.C: RPL.XJSE
SUPER GROUP LTD: SPG.XJSE
KAP INDUSTRIAL HLDGS LTD: KAP.XJSE
ALLIED ELECTRONICS CORP A: AEL.XJSE
TEXTAINER GROUP HLDGS LTD: TXT.XJSE
ASTRAL FOODS LTD: ARL.XJSE
ZEDER INV LTD: ZED.XJSE
CARTRACK HOLDINGS LTD: CTK.XJSE
ADCOCK INGRAM HLDGS LTD: AIP.XJSE
STENPROP LIMITED: STP.XJSE
ATTACQ LIMITED: ATT.XJSE
OCEANA GROUP LTD: OCE.XJSE
DATATEC LTD: DTC.XJSE
EMIRA PROPERTY FUND LTD: EMI.XJSE
MONTAUK HOLDINGS LTD: MNK.XJSE
AFRICAN OXYGEN LIMITED: AFX.XJSE
HOSKEN CONS INV LTD: HCI.XJSE
ALEXANDER FORBES GRP HLDGS: AFH.XJSE
STEINHOFF INT HLDGS N.V.: SNH.XJSE
FAMOUS BRANDS LTD: FBR.XJSE
WILSON BAYLY HLM-OVC LTD: WBO.XJSE
SA CORP REAL ESTATE LTD: SAC.XJSE
STOR-AGE PROP REIT LTD: SSS.XJSE
ADVTECH LTD: ADH.XJSE
TRUSTCO GROUP HLDGS LTD: TTO.XJSE
LIBERTY TWO DEGREES LTD: L2D.XJSE
LIGHTHOUSE CAPITAL LTD: LTE.XJSE
GRIT REAL ESTATE INC GRP: GTR.XJSE
CURRO HOLDINGS LIMITED: COH.XJSE
DIPULA INCOME FUND A: DIA.XJSE
PAN AFRICAN RESOURCE PLC: PAN.XJSE
MIX TELEMATICS LTD: MIX.XJSE
LIBSTAR HOLDINGS LTD: LBR.XJSE
CLIENTELE LTD: CLI.XJSE
RAVEN PROPERTY GROUP LTD: RAV.XJSE
BRAIT SE: BAT.XJSE
OMNIA HOLDINGS LTD: OMN.XJSE
SEA HARVEST GROUP LTD: SHG.XJSE
SUN INTERNATIONAL LTD: SUI.XJSE
METAIR INVESTMENTS LTD: MTA.XJSE
AFRIMAT LIMITED: AFT.XJSE
CAPITAL & REGIONAL PLC: CRP.XJSE
RAUBEX GROUP LTD: RBX.XJSE
HOMECHOICE INT PLC: HIL.XJSE
CASHBUILD LTD: CSB.XJSE
RHODES FOOD GRP HLDG LTD: RFG.XJSE
PEREGRINE HOLDINGS LIMITED: PGR.XJSE
MURRAY & ROBERTS HLDGS: MUR.XJSE
OCTODEC INVEST LTD: OCT.XJSE
INTU PROPERTIES PLC: ITU.XJSE
HOSPITALITY PROP FUND B: HPB.XJSE
TSOGO SUN HOTELS LTD: TGO.XJSE
ARROWHEAD PROP LTD B: AHB.XJSE
THARISA PLC: THA.XJSE
AFRICAN RAINBOW CAP INV: AIL.XJSE
HUDACO INDUSTRIES LTD: HDC.XJSE
EXEMPLAR REITAIL LTD: EXP.XJSE
GRINDROD LTD: GND.XJSE
NET 1 UEPS TECH INC: NT1.XJSE
HERIOT REIT LIMITED: HET.XJSE
ATLANTIC LEAF PROP LTD: ALP.XJSE
SCHRODER EUR REIT PLC: SCD.XJSE
LONG 4 LIFE LIMITED: L4L.XJSE
FINBOND GROUP LTD: FGL.XJSE
TRADEHOLD LTD: TDH.XJSE
ACSION LIMITED: ACS.XJSE
CAXTON CTP PUBLISH PRINT: CAT.XJSE
PPC LIMITED: PPC.XJSE
MPACT LIMITED: MPT.XJSE
BLUE LABEL TELECOMS LTD: BLU.XJSE
LEWIS GROUP LTD: LEW.XJSE
SPUR CORPORATION LTD: SUR.XJSE
GEMFIELDS GROUP LIMITED: GML.XJSE
CITY LODGE HOTELS LTD: CLH.XJSE
E MEDIA HOLDINGS LTD -N-: EMN.XJSE
NAMPAK LTD: NPK.XJSE
ENX GROUP LIMITED: ENX.XJSE
KAAP AGRI LIMITED: KAL.XJSE
FAIRVEST PROPERTY HLDGS: FVT.XJSE
ALPHAMIN RESOURCES CORP: APH.XJSE
SPEAR REIT LIMITED: SEA.XJSE
SABVEST LTD: SBV.XJSE
RENERGEN LIMITED: REN.XJSE
AFROCENTRIC INV CORP LTD: ACT.XJSE
BRIMSTONE INV CORP LTD-N: BRN.XJSE
EPE CAPITAL PARTNERS LTD: EPE.XJSE
BALWIN PROPERTIES LTD: BWN.XJSE
BRIMSTONE INV CORP LTD: BRT.XJSE
TRENCOR LTD: TRE.XJSE
MASTER DRILLING GRP LTD: MDI.XJSE
GRAND PARADE INV LTD: GPL.XJSE
SABVEST LTD -N-: SVN.XJSE
OANDO PLC: OAO.XJSE
JUBILEE METALS GROUP PLC: JBL.XJSE
COMBINED MOTOR HLDGS LTD: CMH.XJSE
SYGNIA LIMITED: SYG.XJSE
STADIO HOLDINGS LIMITED: SDO.XJSE
E MEDIA HOLDINGS LTD: EMH.XJSE
GRINDROD SHIPPING HLDG LTD: GSH.XJSE
TOWER PROPERTY FUND LTD: TWR.XJSE
ACCELERATE PROP FUND LTD: APF.XJSE
METROFILE HOLDINGS LTD: MFL.XJSE
SAFARI INVESTMENTS RSA LTD: SAR.XJSE
MERAFE RESOURCES LTD: MRF.XJSE
COMAIR LIMITED: COM.XJSE
MTN ZAKHELE FUTHI: MTNZF.XJSE
ADCORP HOLDINGS LIMITED: ADR.XJSE
INDLUPLACE PROPERTIES LTD: ILU.XJSE
DIPULA INCOME FUND B: DIB.XJSE
HOSKEN PAX LOG AND RAIL: HPR.XJSE
ARCELORMITTAL SA LIMITED: ACL.XJSE
ALVIVA HOLDINGS LTD: AVV.XJSE
INVICTA HOLDINGS LTD: IVT.XJSE
ARB HOLDINGS LIMITED: ARH.XJSE
TISO BLACKSTAR GROUP SE: TBG.XJSE
ZARCLEAR HOLDINGS LTD: ZCL.XJSE
TRANSCEND RES PROP FD LD: TPF.XJSE
YEBOYETHU (RF) LTD: YYLBEE.XJSE
CAPITAL APPRECIATION LTD: CTA.XJSE
TEXTON PROPERTY FUND LTD: TEX.XJSE
STELLAR CAP PARTNERS LTD: SCP.XJSE
SASFIN HOLDINGS LTD: SFN.XJSE
ANCHOR GROUP LIMITED: ACG.XJSE
BELL EQUIPMENT LTD: BEL.XJSE
HUGE GROUP LTD: HUG.XJSE
MARSHALL MONTEAGLE PLC: MMP.XJSE
WESIZWE PLATINUM LTD: WEZ.XJSE
VALUE GROUP LTD: VLE.XJSE
AYO TECH SOLUTIONS LTD: AYO.XJSE
DENEB INVESTMENTS LTD: DNB.XJSE
ONELOGIX GROUP LTD: OLG.XJSE
NOVUS HOLDINGS LIMITED: NVS.XJSE
QUANTUM FOODS HLDGS LTD: QFH.XJSE
NU-WORLD HLDGS LTD: NWL.XJSE
NVEST FINANCIAL HLDGS LTD: NVE.XJSE
MC MINING LIMITED: MCZ.XJSE
EOH HOLDINGS LTD: EOH.XJSE
REBOSIS PROPERTY FUND LTD A: REA.XJSE
HULAMIN LTD: HLM.XJSE
NEWPARK REIT LTD: NRL.XJSE
WESCOAL HOLDINGS LTD: WSL.XJSE
TREMATON CAPITAL INV LTD: TMT.XJSE
BOWLER METCALF LTD: BCF.XJSE
MUSTEK LTD: MST.XJSE
RH BOPHELO LIMITED: RHB.XJSE
CROOKES BROTHERS LTD: CKS.XJSE
ORION MINERALS LIMITED: ORN.XJSE
AFRICAN PHOENIX INV LTD: AXL.XJSE
EFFICIENT GROUP LTD: EFG.XJSE
TRANSPACO LTD: TPC.XJSE
TONGAAT HULETT LTD: TON.XJSE
DELTA PROPERTY FUND LTD: DLT.XJSE
RESOURCE GENERATION LTD: RSG.XJSE
INSIMBI IND HLDGS LTD: ISB.XJSE
AFRICAN EQUITY EMP INV LTD: AEE.XJSE
AVENG GROUP LIMITED: AEG.XJSE
REX TRUEFORM GROUP LTD: RTO.XJSE
YORK TIMBER HOLDINGS LTD: YRK.XJSE
REX TRUEFORM GROUP -N-: RTN.XJSE
VUNANI LTD: VUN.XJSE
KORE POTASH PLC: KP2.XJSE
PURPLE GROUP LTD: PPE.XJSE
CONDUIT CAPITAL LTD: CND.XJSE
ARGENT INDUSTRIAL LTD: ART.XJSE
TRELLIDOR HLDGS LTD: TRL.XJSE
SANTOVA LOGISTICS LTD: SNV.XJSE
AFRICAN & OVER ENT LTD -N: AON.XJSE
CALGRO M3 HLDGS LTD: CGR.XJSE
BUFFALO COAL CORP: BUC.XJSE
AFRICAN & OVER ENT LTD: AOO.XJSE
PREMIER FISHING BRANDS LTD: PFB.XJSE
ASTORIA INVESTMENTS LTD: ARA.XJSE
WORKFORCE HOLDINGS LTD: WKF.XJSE
NIVEUS INVESTMENTS LTD: NIV.XJSE
HULISANI LIMITED: HUL.XJSE
PBT GROUP LIMITED: PBG.XJSE
GAIA INFRASTRUCT CAP LTD: GAI.XJSE
ADAPT IT HOLDINGS LTD: ADI.XJSE
EASTERN PLATINUM LTD: EPS.XJSE
ALARIS HOLDINGS LTD: ALH.XJSE
CHROMETCO LTD: CMO.XJSE
CONS INFRASTRUCTURE GRP LTD: CIL.XJSE
REBOSIS PROPERTY FUND LTD: REB.XJSE
ANDULELA INV HLDGS LTD: AND.XJSE
LONDON FIN INV GROUP PLC: LNF.XJSE
SEBATA HOLDINGS LTD: SEB.XJSE
ASCENDIS HEALTH LTD: ASC.XJSE
SEPHAKU HOLDINGS LTD: SEP.XJSE
LABAT AFRICA LTD: LAB.XJSE
AFRICAN MEDIA ENT LTD: AME.XJSE
PHUMELELA GAME LEISURE: PHM.XJSE
PUTPROP LTD: PPR.XJSE
UNICORN CAPITAL PNR LTD: UCP.XJSE
RANDGOLD & EXPL CO LTD: RNG.XJSE
GO LIFE INTERNATIONAL LD: GLI.XJSE
NUTRITIONAL HOLDINGS LTD: NUT.XJSE
KIBO ENERGY PLC: KBO.XJSE
EFORA ENERGY LIMITED: EEL.XJSE
KAYDAV GROUP LTD: KDV.XJSE
BAUBA RESOURCES LIMITED: BAU.XJSE
COGNITION HOLDINGS LTD: CGN.XJSE
ELB GROUP LTD: ELR.XJSE
ISA HOLDINGS LIMITED: ISA.XJSE
INDEQUITY GROUP LTD: IDQ.XJSE
PSV HOLDINGS LTD: PSV.XJSE
ADVANCED HEALTH LTD: AVL.XJSE
CSG HOLDINGS LTD: CSG.XJSE
PRIMESERV GROUP LTD: PMV.XJSE
TASTE HLDGS LTD: TAS.XJSE
ETION LIMITED: ETO.XJSE
SOUTH OCEAN HOLDINGS LTD: SOH.XJSE
ELLIES HOLDINGS LTD: ELI.XJSE
NICTUS LTD: NCS.XJSE
JASCO ELECTRON HLDGS LTD: JSC.XJSE
STEFANUTI STCK HLDGS LTD: SSK.XJSE
SILVERBRIDGE HOLDINGS: SVB.XJSE
TELEMASTER HOLDINGS LTD: TLM.XJSE
ECSPONENT LIMITED: ECS.XJSE
EUROPA METALS LIMITED: EUZ.XJSE
PEMBURY LIFESTYLE GRP LT: PEM.XJSE
VISUAL INTERNATIONAL HLDGS LTD: VIS.XJSE
SPANJAARD LIMITED: SPA.XJSE
MAZOR GROUP LTD: MZR.XJSE
AFRICAN DAWN CAPITAL LTD: ADW.XJSE
ACCENTUATE LIMITED: ACE.XJSE
ABSA BANK LTD PREF: ABSP.XJSE
FIRSTRAND LTD B PREF: FSRP.XJSE
STD BANK GROUP 6,5%PREF: SBKP.XJSE
STANDARD BANK GROUP PREF: SBPP.XJSE
INVESTEC LTD PREF: INPR.XJSE
INVESTEC PLC PREF (RAND): INPPR.XJSE
INVESTEC PLC PREF: INPP.XJSE
DISCOVERY LTD B PREF: DSBP.XJSE
NETCARE LIMITED PREF: NTCP.XJSE
LIBERTY HLDGS 11C PREF: LBHP.XJSE
CAPITEC BANK HLDGS PREF: CPIP.XJSE
AECI LIMITED 5,5% PREF: AFEP.XJSE
GRINDROD LTD PREF: GNDP.XJSE
CAXTON CTP PUBLISH 6%PF: CATP.XJSE
NAMPAK LTD 6%PREF: NPKP.XJSE
PSG FINANCIAL SERV PREF: PGFP.XJSE
INVICTA HLDGS LTD PREF: IVTP.XJSE
SASFIN HLDGS LTD PREF: SFNP.XJSE
RECM AND CALIBRE LIMITED: RACP.XJSE
ECSPONENT PREF SHARE C2: ECSP6.XJSE
4Sight Holdings Limited: 4SI.XJSE
Arden Capital Limited: ACZ.XJSE
AH-Vest Limited: AHL.XJSE
Cloud Atlas AMI Big50 ex-SA ETF: AMIB50.XJSE
Cloud Atlas (RF) Proprietary Limited - AMI Real Es: AMIRE.XJSE
Converting tickers to list...
Output dataframe...
Writing csv file...
Saving JSE data to disc...
Saving csv files for each stock to disc...

In [7]:
symbols = xjse
tickers = Ticker(symbols, asynchronous=True)
data = tickers.history(start=start, end=end, interval='1d')
data= data.drop(['adjclose','dividends','splits'],axis=1)

resetindex = data.reset_index(inplace = True)

# new dataframe with different column order
df_new = data.iloc[:, [1, 2, 3, 4, 5, 6, 0]]

Tickers = df_new["symbol"].tolist()
mylist = list(dict.fromkeys(Tickers))
df = pd.DataFrame (mylist, columns = ['tickers'])
df.columns = df.iloc[1]

df.to_csv("/content/Stocks_final3/tickers.csv")

from pathlib import Path
import pandas as pd
import numpy as np
from scipy import stats

csv_folder = Path('/content/Stocks_final3')

for file in csv_folder.glob('*.JO.csv'): #create iteratable & iterate on it.
    mydata = pd.read_csv(file)
    mydata.reset_index(inplace = True)
    mydata = mydata.rename(columns={'index': 'date'}, index=None)
    mydata['date'] =  pd.to_datetime(mydata['date']).dt.strftime('%Y-%m-%d')
    mydata.set_index('date', inplace=True)
    df =mydata[["open","high","low","close","volume"]]
    no_outlier_prices = df[(np.abs(stats.zscore(df)) <3).all(axis=1)]
    new_file_name = file.parent.joinpath(f"{file.stem}.csv")
    no_outlier_prices.to_csv(new_file_name) #, index=None, encoding='utf-8-sig', decimal=',')

###Ranking list to construct initial portfolio

In [8]:
%matplotlib inline
from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

plt.rcParams["figure.figsize"] = (12, 9) # (w, h)
plt.ioff()

tickers = pd.read_csv('/content/Stocks_final3/tickers.csv', header=None)[1].tolist()
stocks = (
    (pd.concat(
        [pd.read_csv(f"/content/Stocks_final3/{ticker}.csv",parse_dates=None, index_col=0)[
        'close'].rename(ticker)
        for ticker in tickers],
        axis=1,
        sort=True)
    )
)
stocks = stocks.loc[:,~stocks.columns.duplicated()]

from scipy.stats import linregress
def momentum(closes):
    returns = np.log(closes)
    x = np.arange(len(returns))
    slope, _, rvalue, _, _ = linregress(x, returns)
    return ((1 + slope) ** 252) * (rvalue ** 2)  # annualize slope and multiply by R^2

momentums = stocks.copy(deep=True)
for ticker in tickers:
    momentums[ticker] = stocks[ticker].rolling(90).apply(momentum, raw=False)

result = momentums.sort_values(by =ranking_day, axis = 1, ascending =False)
result.reset_index(inplace=True)
res=result[~(result['date'] < ranking_day)].dropna(axis=1)

mes = res.reindex(columns = res.columns.tolist()
                                  + ['empty'])

df = mes.set_index(['empty']).stack().reset_index(name='index').rename(columns={'level_2':'date'})

df.columns = df.iloc[0]

df.index = list(df.index)

df.columns.values[0] = "empty"
df.columns.values[1] = "symbol"
df.columns.values[2] = "momentum_score"

df=df.drop(['empty'], axis=1)

finalframe=df.drop(index=0)

finalframe['momentum_score'] =finalframe['momentum_score'].astype(float)

finalframe['rank']=finalframe['momentum_score'].rank(ascending=False)

finalframe['momentum_score'] =finalframe['momentum_score'].astype(float)

#finalframe.style.format({'momentum_score':"{:.2f}"})

Mylist = finalframe["symbol"].tolist()

finalframe.set_index('symbol',inplace=True)

final = pd.concat([df1, df2], axis=1, join='inner')
final.columns.values[3] = "tickers"
final.columns = final.columns.astype(str)

final.set_index('tickers', inplace=True)
Yes = final.reindex(Mylist)

rt = pd.concat([finalframe, Yes], axis=1, join='inner')

rt = rt.iloc[:, [2, 3, 4, 0, 1]]

#rt.style.format({'momentum_score':"{:.2f}"})

# get names of indexes for which column "momentum_score" has value > 40%
index_names = rt[(rt['momentum_score'] < 0.001)].index

# drop these given row indexes from dataFrame
rt.drop(index_names, inplace = True)

rt.reset_index(inplace=True)

My_final_list = rt["index"].tolist()

rt.set_index('index',inplace=True)

final_table_columns = My_final_list
final_table =stocks.drop(columns=[col for col in stocks if col not in final_table_columns])

for column in final_table.columns:
    final_table[column].to_csv('/content/momentum_tickers/' + column + '.csv')

In [9]:
from pathlib import Path
import pandas as pd
import stockstats
from stockstats import StockDataFrame as sdf
import glob
vola_table = Path('/content/momentum_tickers')

for file in vola_table.glob('*.JO.csv'): #create iteratable & iterate on it.
    vola_df = pd.read_csv(file)
    vola_df.columns.values[1] = "close"
    vola_df["20d_vol"] = vola_df["close"].pct_change().rolling(20).std()
    #vola_df = sdf.retype(vola_df)['close_90_roc']
    #vola_df = pd.DataFrame(vola_df)
    vola_df['date'] =  pd.to_datetime(vola_df['date']).dt.strftime('%Y-%m-%d')
    vola_df.set_index('date', inplace=True)
    stockstats_df = sdf.retype(vola_df)['close_90_roc']
    df = pd.DataFrame(stockstats_df)
    vola_file_name= file.parent.joinpath(f"/content/ranking_table/{file.stem}.csv")
    vola_df.to_csv(vola_file_name) #, index=None, encoding='utf-8-sig', decimal=',')

vola_table1 = Path('/content/ranking_table')

for file in vola_table1.glob('*.JO.csv'): #create iteratable & iterate on it.
    vola_df1 = pd.read_csv(file).tail(1)

    vola_df1['date'] =  pd.to_datetime(vola_df1['date']).dt.strftime('%Y-%m-%d')

    vola_df1.set_index('date', inplace=True)

    vola_file_name1= file.parent.joinpath(f"/content/momentum_stocks/{file.stem}.csv")

    vola_df1.to_csv(vola_file_name1)


# set search path and glob for files
# here we want to look for csv files in the input directory
path = '/content/'
files = glob.glob(path + '/momentum_stocks/*.csv')

# create empty list to store dataframes
li = []

# loop through list of files and read each one into a dataframe and append to list
for f in files:
    # get filename
    stock = os.path.basename(f)
    # read in csv
    temp_df = pd.read_csv(f)
    # create new column with filename
    temp_df['ticker'] = stock
    # data cleaning to remove the .csv
    temp_df['ticker'] = temp_df['ticker'].replace('.csv', '', regex=True)
    # append df to list
    li.append(temp_df)
    #print(f'Successfully created dataframe for {stock} with shape {temp_df.shape}')

# concatenate our list of dataframes into one!
df = pd.concat(li)

ranking_list =df.set_index('ticker').reindex(My_final_list).reset_index()

inv_vol = 1 / ranking_list["20d_vol"]
sum_inv_vol=inv_vol.sum()
vol_targets = inv_vol / sum_inv_vol
ranking_list["weight"] = vol_targets

ranking_list.set_index('ticker', inplace=True)

final_list = pd.concat([rt,ranking_list], axis=1, join='inner')

stockprice = final_list["close"] / 100
pos_weight = portfolio_value * final_list["weight"]
final_list["units"] = pos_weight / stockprice
final_list["ZAR"] = stockprice * final_list["units"]

In [10]:
from pathlib import Path
import pandas as pd

sma = Path('/content/ranking_table')

for file in sma.glob('*.JO.csv'): #create iteratable & iterate on it.
    sma = pd.read_csv(file)
    sma['date'] =  pd.to_datetime(sma['date']).dt.strftime('%Y-%m-%d')
    sma.set_index('date', inplace=True)

    '''Function'''

    sma['100d_sma'] = sma['close'].rolling(100).mean()

    #sma['index_sma']=index['Close'].rolling(200).mean()

    #sma['trend'] = np.where(sma['close'] > sma['100d_sma'], True, False)

    sma['index'] = index['Close']

    sma['index_sma']=index['Close'].rolling(200).mean()

    sma['trend'] = np.where(sma['close'] > sma['100d_sma'], True, False)

    sma['index_trend']= np.where(sma['index'] > sma['index_sma'], True, False)

    sma_file_name= file.parent.joinpath(f"/content/sma_data/{file.stem}.csv")

    sma.to_csv(sma_file_name)

buy_table = Path('/content/sma_data')

for file in buy_table.glob('*.JO.csv'): #create iteratable & iterate on it.
    buy_list_df = pd.read_csv(file).tail(1)

    buytable = file.parent.joinpath(f"/content/buy_list/{file.stem}.csv")

    buy_list_df.to_csv(buytable)

In [86]:
import pandas as pd
import glob

# set search path and glob for files
# here we want to look for csv files in the input directory
path1 = '/content/'
files1 = glob.glob(path1 + '/buy_list/*.csv')

# create empty list to store dataframes
li1 = []

# loop through list of files and read each one into a dataframe and append to list
for f1 in files1:
    # get filename
    stock1 = os.path.basename(f1)
    # read in csv
    temp_df1 = pd.read_csv(f1)
    # create new column with filename
    temp_df1['ticker'] = stock1
    # data cleaning to remove the .csv
    temp_df1['ticker'] = temp_df1['ticker'].replace('.csv', '', regex=True)
    # append df to list
    li1.append(temp_df1)
    #print(f'Successfully created dataframe for {stock1} with shape {temp_df1.shape}')

# concatenate our list of dataframes into one!
Buy = pd.concat(li1)

buying_list = Buy.set_index('ticker').reindex(My_final_list)#.reset_index()

final_buy_list = pd.concat([final_list, buying_list], axis=1, join='inner')

#define list of columns range
cols = [x for x in range(final_buy_list.shape[1])]

#remove second column in DataFrame
cols.remove(12)
cols.remove(13)
cols.remove(14)
cols.remove(15)
cols.remove(16)#view resulting DataFrame
final_buy_list2 =final_buy_list.iloc[:, cols]
final_buy_list2.info()

final_buy_list2 = final_buy_list2.loc[final_buy_list2.trend, :]

index_names1 = final_buy_list2[(final_buy_list2['close_90_roc'] >= 15)].index

# drop these given row indexes from dataFrame
final_buy_list2.drop(index_names1, inplace = True)
final_buy_list2.to_csv("portfolio_280723.csv")
final_buy_list2

<class 'pandas.core.frame.DataFrame'>
Index: 76 entries, TXT.JO to SUR.JO
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            76 non-null     object
 1   symbol          76 non-null     object
 2   ticker          76 non-null     object
 3   momentum_score  76 non-null     float64
 4   rank            76 non-null     float64
 5   date            76 non-null     object
 6   close           76 non-null     float64
 7   20d_vol         76 non-null     float64
 8   close_90_roc    72 non-null     float64
 9   weight          76 non-null     float64
 10  units           76 non-null     float64
 11  ZAR             76 non-null     float64
 12  100d_sma        62 non-null     float64
 13  index           76 non-null     float64
 14  index_sma       76 non-null     float64
 15  trend           76 non-null     bool
 16  index_trend     76 non-null     bool
dtypes: bool(2), float64(11), object(4)
memory usage: 11.7+ KB

,name,symbol,ticker,momentum_score,rank,date,close,20d_vol,close_90_roc,weight,units,ZAR,100d_sma,index,index_sma,trend,index_trend
HCI.JO,HOSKEN CONS INV LTD,HCI.XJSE,HCI,1.209166,2.0,2023-08-10,22100.0,0.009565,9.405941,0.026276,0.237789,52.551465,20753.0800,77749.679688,75992.100566,True,True
INL.JO,INVESTEC LTD,INL.XJSE,INL,1.079940,3.0,2023-08-10,11235.0,0.010860,13.062292,0.023142,0.411967,46.284531,10440.5100,77749.679688,75992.100566,True,True
ART.JO,ARGENT INDUSTRIAL LTD,ART.XJSE,ART,1.023063,4.0,2023-08-10,1595.0,0.021384,8.503401,0.011753,1.473700,23.505509,1521.5800,77749.679688,75992.100566,True,True
INP.JO,INVESTEC PLC,INP.XJSE,INP,1.002296,5.0,2023-08-10,11401.0,0.011341,13.816512,0.022160,0.388736,44.319804,10525.5300,77749.679688,75992.100566,True,True
QFH.JO,QUANTUM FOODS HLDGS LTD,QFH.XJSE,QFH,0.891342,8.0,2023-08-10,485.0,0.013800,7.777778,0.018212,7.510145,36.424205,457.1200,77749.679688,75992.100566,True,True
CLI.JO,CLIENTELE LTD,CLI.XJSE,CLI,0.699194,9.0,2023-08-10,1135.0,0.040427,13.273453,0.006217,1.095432,12.433150,1068.9400,77749.679688,75992.100566,True,True
MTH.JO,MOTUS HOLDINGS LTD,MTH.XJSE,MTH,0.467466,12.0,2023-08-10,10453.0,0.024062,6.783124,0.010444,0.199837,20.888944,9681.1100,77749.679688,75992.100566,True,True
SPG.JO,SUPER GROUP LTD,SPG.XJSE,SPG,0.423562,14.0,2023-08-10,3500.0,0.018820,3.857567,0.013354,0.763070,26.707449,3219.0800,77749.679688,75992.100566,True,True
TRE.JO,TRENCOR LTD,TRE.XJSE,TRE,0.360531,24.0,2023-08-10,671.0,0.025329,8.225806,0.009922,2.957416,19.844262,651.3600,77749.679688,75992.100566,True,True
KAL.JO,KAAP AGRI LIMITED,KAL.XJSE,KAL,0.254847,33.0,2023-08-10,3788.0,0.011253,-6.469136,0.022333,1.179121,44.665098,3781.8700,77749.679688,75992.100566,True,True
LHC.JO,LIFE HEALTHC GRP HLDGS LTD,LHC.XJSE,LHC,0.224130,34.0,2023-08-10,2062.0,0.009281,6.288660,0.027079,2.626522,54.158873,2011.3400,77749.679688,75992.100566,True,True
LAB.JO,LABAT AFRICA LTD,LAB.XJSE,LAB,0.197399,37.0,2023-08-10,8.0,0.123921,-11.111111,0.002028,50.701243,4.056099,7.8300,77749.679688,75992.100566,True,True
MTM.JO,MOMENTUM MET HLDGS LTD,MTM.XJSE,MTM,0.195883,38.0,2023-08-10,1977.0,0.011590,10.570470,0.021684,2.193593,43.367332,1805.8000,77749.679688,75992.100566,True,True
NPN.JO,NASPERS LTD -N-,NPN.XJSE,NPN,0.164651,43.0,2023-08-10,348141.0,0.020499,4.259741,0.012260,0.007043,24.520453,324252.2400,77749.679688,75992.100566,True,True
DCP.JO,DIS-CHEM PHARMACIES LTD,DCP.XJSE,DCP,0.152629,44.0,2023-08-10,2574.0,0.020867,-1.567878,0.012044,0.935816,24.087899,2462.4400,77749.679688,75992.100566,True,True
RDF.JO,REDEFINE PROPERTIES LTD,RDF.XJSE,RDF,0.141543,47.0,2023-08-10,372.0,0.013854,1.917808,0.018141,9.753218,36.281970,348.7000,77749.679688,75992.100566,True,True
SDO.JO,STADIO HOLDINGS LIMITED,SDO.XJSE,SDO,0.139903,48.0,2023-08-10,480.0,0.027808,6.666667,0.009038,3.765631,18.075028,451.6200,77749.679688,75992.100566,True,True
NWL.JO,NU-WORLD HLDGS LTD,NWL.XJSE,NWL,0.131235,49.0,2023-08-10,2516.0,0.028345,-0.356436,0.008866,0.704806,17.732909,2430.9600,77749.679688,75992.100566,True,True
AFH.JO,ALEXANDER FORBES GRP HLDGS,AFH.XJSE,AFH,0.111509,50.0,2023-08-10,548.0,0.029951,5.791506,0.008391,3.062393,16.781912,521.8600,77749.679688,75992.100566,True,True
VKE.JO,VUKILE PROPERTY FUND LTD,VKE.XJSE,VKE,0.100207,53.0,2023-08-10,1386.0,0.009176,10.350318,0.027390,3.952403,54.780301,1267.8300,77749.679688,75992.100566,True,True
SYG.JO,SYGNIA LIMITED,SYG.XJSE,SYG,0.097435,54.0,2023-08-10,1840.0,0.028312,3.428893,0.008877,0.964875,17.753701,1728.2700,77749.679688,75992.100566,True,True
MPT.JO,MPACT LIMITED,MPT.XJSE,MPT,0.084886,56.0,2023-08-10,2902.0,0.018888,-0.887978,0.013306,0.916997,26.611245,2700.9500,77749.679688,75992.100566,True,True
PPC.JO,PPC LIMITED,PPC.XJSE,PPC,0.071715,58.0,2023-08-10,276.0,0.024690,-5.802048,0.010179,7.376080,20.357980,265.4400,77749.679688,75992.100566,True,True
ABG.JO,ABSA GROUP LIMITED,ABG.XJSE,ABG,0.020242,63.0,2023-08-10,18468.0,0.013774,0.549899,0.018245,0.197587,36.490458,17186.9500,77749.679688,75992.100566,True,True
SOL.JO,SASOL LIMITED,SOL.XJSE,SOL,0.009644,65.0,2023-08-10,26482.0,0.021201,7.214575,0.011854,0.089525,23.707902,23965.9400,77749.679688,75992.100566,True,True
ATT.JO,ATTACQ LIMITED,ATT.XJSE,ATT,0.008937,66.0,2023-08-10,878.0,0.015232,-0.340522,0.016499,3.758321,32.998059,854.5700,77749.679688,75992.100566,True,True
SSK.JO,STEFANUTI STCK HLDGS LTD,SSK.XJSE,SSK,0.004775,67.0,2023-08-10,132.0,0.037091,4.761905,0.006776,10.266132,13.551294,131.8700,77749.679688,75992.100566,True,True
ADW.JO,AFRICAN DAWN CAPITAL LTD,ADW.XJSE,ADW,0.004703,68.0,2023-08-10,15.0,0.062573,-16.666667,0.004016,53.552329,8.032849,12.8622,77749.679688,75992.100566,True,True
HYP.JO,HYPROP INV LTD,HYP.XJSE,HYP,0.004657,69.0,2023-08-10,3316.0,0.014559,12.140683,0.017262,1.041120,34.523547,3092.0000,77749.679688,75992.100566,True,True
MTNZF.JO,MTN ZAKHELE FUTHI,MTNZF.XJSE,MTNZF,0.004566,70.0,2023-08-10,2100.0,0.031458,7.692308,0.007989,0.760863,15.978113,1895.6100,77749.679688,75992.100566,True,True
MSP.JO,MAS REAL ESTATE INC.,MSP.XJSE,MSP,0.004238,71.0,2023-08-10,2170.0,0.012921,13.791295,0.019451,1.792707,38.901741,2089.9300,77749.679688,75992.100566,True,True
PRX.JO,PROSUS N.V.,PRX.XJSE,PRX,0.002253,72.0,2023-08-10,140743.0,0.019895,0.870070,0.012632,0.017951,25.264174,135907.3600,77749.679688,75992.100566,True,True
ARL.JO,ASTRAL FOODS LTD,ARL.XJSE,ARL,0.002232,73.0,2023-08-10,16650.0,0.009781,3.583427,0.025694,0.308640,51.388583,15862.1700,77749.679688,75992.100566,True,True
SUR.JO,SPUR CORPORATION LTD,SUR.XJSE,SUR,0.001747,76.0,2023-08-10,2550.0,0.017505,8.974359,0.014357,1.126060,28.714535,2336.8900,77749.679688,75992.100566,True,True

###List to Liquidate current positions

In [90]:

sell_list = final_buy_list [~final_buy_list
 ["trend"]]
#sell_list.info()
dqs = sell_list ["ticker"].tolist()
cpf=pd.read_csv("portfolio_140723.csv")
#sell_list
liquidate = cpf.loc[cpf['ticker'].isin (dqs)].reset_index (drop=True)
cpf.info()
liquidate.info()
liquidate

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      27 non-null     object
 1   name            27 non-null     object
 2   symbol          27 non-null     object
 3   ticker          27 non-null     object
 4   momentum_score  27 non-null     float64
 5   rank            27 non-null     float64
 6   date            27 non-null     object
 7   close           27 non-null     float64
 8   20d_vol         27 non-null     float64
 9   close_90_roc    27 non-null     float64
 10  weight          27 non-null     float64
 11  units           27 non-null     float64
 12  ZAR             27 non-null     float64
 13  100d_sma        27 non-null     float64
 14  index           27 non-null     float64
 15  index_sma       27 non-null     float64
 16  trend           27 non-null     bool
 17  index_trend     27 non-null     bool
dtypes: bool(2), float64(11), object(5)
memory usage: 3.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1 non-null      object
 1   name            1 non-null      object
 2   symbol          1 non-null      object
 3   ticker          1 non-null      object
 4   momentum_score  1 non-null      float64
 5   rank            1 non-null      float64
 6   date            1 non-null      object
 7   close           1 non-null      float64
 8   20d_vol         1 non-null      float64
 9   close_90_roc    1 non-null      float64
 10  weight          1 non-null      float64
 11  units           1 non-null      float64
 12  ZAR             1 non-null      float64
 13  100d_sma        1 non-null      float64
 14  index           1 non-null      float64
 15  index_sma       1 non-null      float64
 16  trend           1 non-null      bool
 17  index_trend     1 non-null      bool
dtypes: bool(2), float64(11), object(5)
memory usage: 258.0+ bytes

,Unnamed: 0,name,symbol,ticker,momentum_score,rank,date,close,20d_vol,close_90_roc,weight,units,ZAR,100d_sma,index,index_sma,trend,index_trend
0,JBL.JO,JUBILEE METALS GROUP PLC,JBL.XJSE,JBL,0.015929,70.0,2023-07-14,193.0,0.054717,-8.530806,0.004424,4.584854,8.848768,191.44,77750.507812,74859.902324,True,True

In [91]:
newpf = cpf[~cpf['ticker'].isin(liquidate['ticker'])]
newpf .info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 0 to 26
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      26 non-null     object
 1   name            26 non-null     object
 2   symbol          26 non-null     object
 3   ticker          26 non-null     object
 4   momentum_score  26 non-null     float64
 5   rank            26 non-null     float64
 6   date            26 non-null     object
 7   close           26 non-null     float64
 8   20d_vol         26 non-null     float64
 9   close_90_roc    26 non-null     float64
 10  weight          26 non-null     float64
 11  units           26 non-null     float64
 12  ZAR             26 non-null     float64
 13  100d_sma        26 non-null     float64
 14  index           26 non-null     float64
 15  index_sma       26 non-null     float64
 16  trend           26 non-null     bool
 17  index_trend     26 non-null     bool
dtypes: bool(2), float64(11), object(5)
memory usage: 3.5+ KB

In [92]:
dfnew = newpf[~newpf['ticker'].isin(final_buy_list2['ticker'])]
dfnew .info()
remove = dfnew ["ticker"].tolist()
remove

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 26
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      15 non-null     object
 1   name            15 non-null     object
 2   symbol          15 non-null     object
 3   ticker          15 non-null     object
 4   momentum_score  15 non-null     float64
 5   rank            15 non-null     float64
 6   date            15 non-null     object
 7   close           15 non-null     float64
 8   20d_vol         15 non-null     float64
 9   close_90_roc    15 non-null     float64
 10  weight          15 non-null     float64
 11  units           15 non-null     float64
 12  ZAR             15 non-null     float64
 13  100d_sma        15 non-null     float64
 14  index           15 non-null     float64
 15  index_sma       15 non-null     float64
 16  trend           15 non-null     bool
 17  index_trend     15 non-null     bool
dtypes: bool(2), float64(11), object(5)
memory usage: 2.0+ KB

['VUN',
 'SEB',
 'SRE',
 'REM',
 'RLO',
 'PPH',
 'ASC',
 'HDC',
 '4SI',
 'RBX',
 'DSBP',
 'MFL',
 'BVT',
 'ENX',
 'SNT']

In [154]:
now = newpf[~newpf['ticker'].isin(dfnew['ticker'])]
now.set_index("ticker", inplace=True)
rebalance = now ["symbol"].tolist()
now.info()
now

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, TRE to PRX
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      11 non-null     object
 1   name            11 non-null     object
 2   symbol          11 non-null     object
 3   momentum_score  11 non-null     float64
 4   rank            11 non-null     float64
 5   date            11 non-null     object
 6   close           11 non-null     float64
 7   20d_vol         11 non-null     float64
 8   close_90_roc    11 non-null     float64
 9   weight          11 non-null     float64
 10  units           11 non-null     float64
 11  ZAR             11 non-null     float64
 12  100d_sma        11 non-null     float64
 13  index           11 non-null     float64
 14  index_sma       11 non-null     float64
 15  trend           11 non-null     bool
 16  index_trend     11 non-null     bool
dtypes: bool(2), float64(11), object(4)
memory usage: 1.4+ KB

,Unnamed: 0,name,symbol,momentum_score,rank,date,close,20d_vol,close_90_roc,weight,units,ZAR,100d_sma,index,index_sma,trend,index_trend
ticker,,,,,,,,,,,,,,,,,
TRE,TRE.JO,TRENCOR LTD,TRE.XJSE,0.923557,7.0,2023-07-14,670.0,0.035485,8.064516,0.006822,2.036480,13.644417,641.85,77750.507812,74859.902324,True,True
ART,ART.JO,ARGENT INDUSTRIAL LTD,ART.XJSE,0.613898,8.0,2023-07-14,1632.0,0.012478,9.898990,0.019402,2.377644,38.803154,1502.85,77750.507812,74859.902324,True,True
LHC,LHC.JO,LIFE HEALTHC GRP HLDGS LTD,LHC.XJSE,0.439935,16.0,2023-07-14,2049.0,0.010084,5.673027,0.024007,2.343246,48.013120,1989.76,77750.507812,74859.902324,True,True
ABG,ABG.JO,ABSA GROUP LIMITED,ABG.XJSE,0.271652,35.0,2023-07-14,17804.0,0.012469,-10.420126,0.019416,0.218105,38.831346,17379.38,77750.507812,74859.902324,True,True
CLI,CLI.JO,CLIENTELE LTD,CLI.XJSE,0.218270,39.0,2023-07-14,1125.0,0.057045,8.173077,0.004244,0.754453,8.487591,1045.98,77750.507812,74859.902324,True,True
SUR,SUR.JO,SPUR CORPORATION LTD,SUR.XJSE,0.173518,46.0,2023-07-14,2360.0,0.008799,-0.631579,0.027513,2.331587,55.025458,2339.81,77750.507812,74859.902324,True,True
QFH,QFH.JO,QUANTUM FOODS HLDGS LTD,QFH.XJSE,0.144772,50.0,2023-07-14,481.0,0.027969,1.263158,0.008656,3.599027,17.311322,452.61,77750.507812,74859.902324,True,True
SPG,SPG.JO,SUPER GROUP LTD,SPG.XJSE,0.072090,55.0,2023-07-14,3284.0,0.009642,-7.778714,0.025107,1.529037,50.213560,3215.27,77750.507812,74859.902324,True,True
NWL,NWL.JO,NU-WORLD HLDGS LTD,NWL.XJSE,0.064964,58.0,2023-07-14,2450.0,0.021241,0.000000,0.011397,0.930382,22.794359,2418.32,77750.507812,74859.902324,True,True
MTM,MTM.JO,MOMENTUM MET HLDGS LTD,MTM.XJSE,0.034560,65.0,2023-07-14,1857.0,0.012406,-5.399898,0.019514,2.101670,39.028021,1816.35,77750.507812,74859.902324,True,True
PRX,PRX.JO,PROSUS N.V.,PRX.XJSE,0.015062,71.0,2023-07-14,140786.0,0.022595,5.189779,0.010714,0.015220,21.428077,135136.25,77750.507812,74859.902324,True,True

In [155]:
portfolio_value2=5000000

final_weights = final_buy_list
final_weights.set_index('rank').reset_index()
final_w = [x for x in range(final_weights.shape[1])]

final_w.remove(12)
final_w.remove(13)
final_w.remove(14)
final_w.remove(15)
final_w.remove(16)
final_weights2=final_weights.iloc[:, cols]
inv_vol2 = 1 / final_weights2["20d_vol"]
sum_inv_vol2 =inv_vol2.sum()
vol_targets2 = inv_vol2 / sum_inv_vol2
final_weights2["weight"] = vol_targets2

final_weights2.set_index('symbol', inplace=True)

stockprice2 = final_weights2["close"] / 100
pos_weight2 = portfolio_value2 * final_weights2["weight"]
final_weights2["units"] = pos_weight2 / stockprice2
final_weights2["ZAR"] = stockprice2 * final_weights2["units"]
final_weights2

<ipython-input-155-e121c3ba01a3>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_weights2["weight"] = vol_targets2
<ipython-input-155-e121c3ba01a3>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_weights2["units"] = pos_weight2 / stockprice2
<ipython-input-155-e121c3ba01a3>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_weights2["ZAR"] = stockprice2 * final_weights2["units"]

,name,ticker,momentum_score,rank,date,close,20d_vol,close_90_roc,weight,units,ZAR,100d_sma,index,index_sma,trend,index_trend
symbol,,,,,,,,,,,,,,,,
TXT.XJSE,TEXTAINER GROUP HLDGS LTD,TXT,1.534101,1.0,2023-08-10,79866.0,0.020236,35.061641,0.012419,77.750174,62095.953689,68804.91,77749.679688,75992.100566,True,True
HCI.XJSE,HOSKEN CONS INV LTD,HCI,1.209166,2.0,2023-08-10,22100.0,0.009565,9.405941,0.026276,594.473580,131378.661275,20753.08,77749.679688,75992.100566,True,True
INL.XJSE,INVESTEC LTD,INL,1.079940,3.0,2023-08-10,11235.0,0.010860,13.062292,0.023142,1029.918351,115711.326768,10440.51,77749.679688,75992.100566,True,True
ART.XJSE,ARGENT INDUSTRIAL LTD,ART,1.023063,4.0,2023-08-10,1595.0,0.021384,8.503401,0.011753,3684.249034,58763.772099,1521.58,77749.679688,75992.100566,True,True
INP.XJSE,INVESTEC PLC,INP,1.002296,5.0,2023-08-10,11401.0,0.011341,13.816512,0.022160,971.840283,110799.510663,10525.53,77749.679688,75992.100566,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PRX.XJSE,PROSUS N.V.,PRX,0.002253,72.0,2023-08-10,140743.0,0.019895,0.870070,0.012632,44.876432,63160.436043,135907.36,77749.679688,75992.100566,True,True
ARL.XJSE,ASTRAL FOODS LTD,ARL,0.002232,73.0,2023-08-10,16650.0,0.009781,3.583427,0.025694,771.600352,128471.458634,15862.17,77749.679688,75992.100566,True,True
GNDP.XJSE,GRINDROD LTD PREF,GNDP,0.002134,74.0,2023-08-10,9000.0,0.019378,2.857143,0.012969,720.523728,64847.135529,9024.92,77749.679688,75992.100566,False,True
DRD.XJSE,DRD GOLD LTD,DRD,0.002056,75.0,2023-08-10,1898.0,0.016024,9.710983,0.015684,4131.785066,78421.280554,2010.58,77749.679688,75992.100566,False,True
SUR.XJSE,SPUR CORPORATION LTD,SUR,0.001747,76.0,2023-08-10,2550.0,0.017505,8.974359,0.014357,2815.150532,71786.338566,2336.89,77749.679688,75992.100566,True,True

In [156]:
rebalance1 =final_weights2[final_weights2['name'].isin(now['name'])]
rebalance1 .info()
rebalance1

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, ART.XJSE to SUR.XJSE
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            11 non-null     object
 1   ticker          11 non-null     object
 2   momentum_score  11 non-null     float64
 3   rank            11 non-null     float64
 4   date            11 non-null     object
 5   close           11 non-null     float64
 6   20d_vol         11 non-null     float64
 7   close_90_roc    11 non-null     float64
 8   weight          11 non-null     float64
 9   units           11 non-null     float64
 10  ZAR             11 non-null     float64
 11  100d_sma        11 non-null     float64
 12  index           11 non-null     float64
 13  index_sma       11 non-null     float64
 14  trend           11 non-null     bool
 15  index_trend     11 non-null     bool
dtypes: bool(2), float64(11), object(3)
memory usage: 1.3+ KB

,name,ticker,momentum_score,rank,date,close,20d_vol,close_90_roc,weight,units,ZAR,100d_sma,index,index_sma,trend,index_trend
symbol,,,,,,,,,,,,,,,,
ART.XJSE,ARGENT INDUSTRIAL LTD,ART,1.023063,4.0,2023-08-10,1595.0,0.021384,8.503401,0.011753,3684.249034,58763.772099,1521.58,77749.679688,75992.100566,True,True
QFH.XJSE,QUANTUM FOODS HLDGS LTD,QFH,0.891342,8.0,2023-08-10,485.0,0.013800,7.777778,0.018212,18775.363221,91060.511622,457.12,77749.679688,75992.100566,True,True
CLI.XJSE,CLIENTELE LTD,CLI,0.699194,9.0,2023-08-10,1135.0,0.040427,13.273453,0.006217,2738.579391,31082.876088,1068.94,77749.679688,75992.100566,True,True
SPG.XJSE,SUPER GROUP LTD,SPG,0.423562,14.0,2023-08-10,3500.0,0.018820,3.857567,0.013354,1907.674936,66768.622754,3219.08,77749.679688,75992.100566,True,True
TRE.XJSE,TRENCOR LTD,TRE,0.360531,24.0,2023-08-10,671.0,0.025329,8.225806,0.009922,7393.540320,49610.655549,651.36,77749.679688,75992.100566,True,True
LHC.XJSE,LIFE HEALTHC GRP HLDGS LTD,LHC,0.224130,34.0,2023-08-10,2062.0,0.009281,6.288660,0.027079,6566.303755,135397.183437,2011.34,77749.679688,75992.100566,True,True
MTM.XJSE,MOMENTUM MET HLDGS LTD,MTM,0.195883,38.0,2023-08-10,1977.0,0.011590,10.570470,0.021684,5483.982317,108418.330403,1805.80,77749.679688,75992.100566,True,True
NWL.XJSE,NU-WORLD HLDGS LTD,NWL,0.131235,49.0,2023-08-10,2516.0,0.028345,-0.356436,0.008866,1762.014014,44332.272592,2430.96,77749.679688,75992.100566,True,True
ABG.XJSE,ABSA GROUP LIMITED,ABG,0.020242,63.0,2023-08-10,18468.0,0.013774,0.549899,0.018245,493.968727,91226.144528,17186.95,77749.679688,75992.100566,True,True
PRX.XJSE,PROSUS N.V.,PRX,0.002253,72.0,2023-08-10,140743.0,0.019895,0.870070,0.012632,44.876432,63160.436043,135907.36,77749.679688,75992.100566,True,True
SUR.XJSE,SPUR CORPORATION LTD,SUR,0.001747,76.0,2023-08-10,2550.0,0.017505,8.974359,0.014357,2815.150532,71786.338566,2336.89,77749.679688,75992.100566,True,True

In [138]:
index_names4 = rebalance1 [( rebalance1 ['rank'] >= 71)].index

# drop these given row indexes from dataFrame
Allsale =rebalance1.drop(index_names4)

In [139]:

Allsale.info()
index_names4

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, ART.XJSE to ABG.XJSE
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            9 non-null      object
 1   ticker          9 non-null      object
 2   momentum_score  9 non-null      float64
 3   rank            9 non-null      float64
 4   date            9 non-null      object
 5   close           9 non-null      float64
 6   20d_vol         9 non-null      float64
 7   close_90_roc    9 non-null      float64
 8   weight          9 non-null      float64
 9   units           9 non-null      float64
 10  ZAR             9 non-null      float64
 11  100d_sma        9 non-null      float64
 12  index           9 non-null      float64
 13  index_sma       9 non-null      float64
 14  trend           9 non-null      bool
 15  index_trend     9 non-null      bool
dtypes: bool(2), float64(11), object(3)
memory usage: 1.1+ KB

Index(['PRX.XJSE', 'SUR.XJSE'], dtype='object', name='symbol')

In [157]:
rebalance3 = rebalance1.reindex(rebalance).set_index('ticker')
rebalance3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, TRE to PRX
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            11 non-null     object
 1   momentum_score  11 non-null     float64
 2   rank            11 non-null     float64
 3   date            11 non-null     object
 4   close           11 non-null     float64
 5   20d_vol         11 non-null     float64
 6   close_90_roc    11 non-null     float64
 7   weight          11 non-null     float64
 8   units           11 non-null     float64
 9   ZAR             11 non-null     float64
 10  100d_sma        11 non-null     float64
 11  index           11 non-null     float64
 12  index_sma       11 non-null     float64
 13  trend           11 non-null     bool
 14  index_trend     11 non-null     bool
dtypes: bool(2), float64(11), object(2)
memory usage: 1.2+ KB

In [158]:
now.reset_index(inplace=True)
rebalance3.reset_index(inplace=True)

In [159]:
rebalance3 ["bs"] = rebalance3["units"]-now["units"]

In [161]:
index_names5 = rebalance3 [( rebalance3 ['rank'] >= 71)].index

# drop these given row indexes from dataFrame
rebalance3.drop(index_names5, inplace = True)
rebalance3

,ticker,name,momentum_score,rank,date,close,20d_vol,close_90_roc,weight,units,ZAR,100d_sma,index,index_sma,trend,index_trend,bs
0,TRE,TRENCOR LTD,0.360531,24.0,2023-08-10,671.0,0.025329,8.225806,0.009922,7393.540320,49610.655549,651.36,77749.679688,75992.100566,True,True,7391.503840
1,ART,ARGENT INDUSTRIAL LTD,1.023063,4.0,2023-08-10,1595.0,0.021384,8.503401,0.011753,3684.249034,58763.772099,1521.58,77749.679688,75992.100566,True,True,3681.871390
2,LHC,LIFE HEALTHC GRP HLDGS LTD,0.224130,34.0,2023-08-10,2062.0,0.009281,6.288660,0.027079,6566.303755,135397.183437,2011.34,77749.679688,75992.100566,True,True,6563.960509
3,ABG,ABSA GROUP LIMITED,0.020242,63.0,2023-08-10,18468.0,0.013774,0.549899,0.018245,493.968727,91226.144528,17186.95,77749.679688,75992.100566,True,True,493.750623
4,CLI,CLIENTELE LTD,0.699194,9.0,2023-08-10,1135.0,0.040427,13.273453,0.006217,2738.579391,31082.876088,1068.94,77749.679688,75992.100566,True,True,2737.824938
6,QFH,QUANTUM FOODS HLDGS LTD,0.891342,8.0,2023-08-10,485.0,0.013800,7.777778,0.018212,18775.363221,91060.511622,457.12,77749.679688,75992.100566,True,True,18771.764194
7,SPG,SUPER GROUP LTD,0.423562,14.0,2023-08-10,3500.0,0.018820,3.857567,0.013354,1907.674936,66768.622754,3219.08,77749.679688,75992.100566,True,True,1906.145899
8,NWL,NU-WORLD HLDGS LTD,0.131235,49.0,2023-08-10,2516.0,0.028345,-0.356436,0.008866,1762.014014,44332.272592,2430.96,77749.679688,75992.100566,True,True,1761.083632
9,MTM,MOMENTUM MET HLDGS LTD,0.195883,38.0,2023-08-10,1977.0,0.011590,10.570470,0.021684,5483.982317,108418.330403,1805.80,77749.679688,75992.100566,True,True,5481.880646

In [149]:
ranking_table1 = final_weights2.reindex().set_index('ticker')
#ranking_table1["bs"] = ranking_table1["units"] * 1

In [150]:
ranking_table1.reset_index(inplace=True)

In [151]:
ranking_table1
ranking_table1 = ranking_table1.loc[ranking_table1.trend, :]

In [152]:
index_names2 = ranking_table1 [( ranking_table1 ['close_90_roc'] >= 15)].index

# drop these given row indexes from dataFrame
ranking_table1.drop(index_names2, inplace = True)

In [153]:
ranking_table1

,ticker,name,momentum_score,rank,date,close,20d_vol,close_90_roc,weight,units,ZAR,100d_sma,index,index_sma,trend,index_trend
1,HCI,HOSKEN CONS INV LTD,1.209166,2.0,2023-08-10,22100.0,0.009565,9.405941,0.026276,594.473580,131378.661275,20753.0800,77749.679688,75992.100566,True,True
2,INL,INVESTEC LTD,1.079940,3.0,2023-08-10,11235.0,0.010860,13.062292,0.023142,1029.918351,115711.326768,10440.5100,77749.679688,75992.100566,True,True
3,ART,ARGENT INDUSTRIAL LTD,1.023063,4.0,2023-08-10,1595.0,0.021384,8.503401,0.011753,3684.249034,58763.772099,1521.5800,77749.679688,75992.100566,True,True
4,INP,INVESTEC PLC,1.002296,5.0,2023-08-10,11401.0,0.011341,13.816512,0.022160,971.840283,110799.510663,10525.5300,77749.679688,75992.100566,True,True
7,QFH,QUANTUM FOODS HLDGS LTD,0.891342,8.0,2023-08-10,485.0,0.013800,7.777778,0.018212,18775.363221,91060.511622,457.1200,77749.679688,75992.100566,True,True
8,CLI,CLIENTELE LTD,0.699194,9.0,2023-08-10,1135.0,0.040427,13.273453,0.006217,2738.579391,31082.876088,1068.9400,77749.679688,75992.100566,True,True
11,MTH,MOTUS HOLDINGS LTD,0.467466,12.0,2023-08-10,10453.0,0.024062,6.783124,0.010444,499.592086,52222.360752,9681.1100,77749.679688,75992.100566,True,True
13,SPG,SUPER GROUP LTD,0.423562,14.0,2023-08-10,3500.0,0.018820,3.857567,0.013354,1907.674936,66768.622754,3219.0800,77749.679688,75992.100566,True,True
23,TRE,TRENCOR LTD,0.360531,24.0,2023-08-10,671.0,0.025329,8.225806,0.009922,7393.540320,49610.655549,651.3600,77749.679688,75992.100566,True,True
32,KAL,KAAP AGRI LIMITED,0.254847,33.0,2023-08-10,3788.0,0.011253,-6.469136,0.022333,2947.802133,111662.744807,3781.8700,77749.679688,75992.100566,True,True
33,LHC,LIFE HEALTHC GRP HLDGS LTD,0.224130,34.0,2023-08-10,2062.0,0.009281,6.288660,0.027079,6566.303755,135397.183437,2011.3400,77749.679688,75992.100566,True,True
36,LAB,LABAT AFRICA LTD,0.197399,37.0,2023-08-10,8.0,0.123921,-11.111111,0.002028,126753.107233,10140.248579,7.8300,77749.679688,75992.100566,True,True
37,MTM,MOMENTUM MET HLDGS LTD,0.195883,38.0,2023-08-10,1977.0,0.011590,10.570470,0.021684,5483.982317,108418.330403,1805.8000,77749.679688,75992.100566,True,True
42,NPN,NASPERS LTD -N-,0.164651,43.0,2023-08-10,348141.0,0.020499,4.259741,0.012260,17.608134,61301.133275,324252.2400,77749.679688,75992.100566,True,True
43,DCP,DIS-CHEM PHARMACIES LTD,0.152629,44.0,2023-08-10,2574.0,0.020867,-1.567878,0.012044,2339.539538,60219.747705,2462.4400,77749.679688,75992.100566,True,True
46,RDF,REDEFINE PROPERTIES LTD,0.141543,47.0,2023-08-10,372.0,0.013854,1.917808,0.018141,24383.044445,90704.925334,348.7000,77749.679688,75992.100566,True,True
47,SDO,STADIO HOLDINGS LIMITED,0.139903,48.0,2023-08-10,480.0,0.027808,6.666667,0.009038,9414.077122,45187.570186,451.6200,77749.679688,75992.100566,True,True
48,NWL,NU-WORLD HLDGS LTD,0.131235,49.0,2023-08-10,2516.0,0.028345,-0.356436,0.008866,1762.014014,44332.272592,2430.9600,77749.679688,75992.100566,True,True
49,AFH,ALEXANDER FORBES GRP HLDGS,0.111509,50.0,2023-08-10,548.0,0.029951,5.791506,0.008391,7655.981884,41954.780725,521.8600,77749.679688,75992.100566,True,True
52,VKE,VUKILE PROPERTY FUND LTD,0.100207,53.0,2023-08-10,1386.0,0.009176,10.350318,0.027390,9881.006584,136950.751259,1267.8300,77749.679688,75992.100566,True,True
53,SYG,SYGNIA LIMITED,0.097435,54.0,2023-08-10,1840.0,0.028312,3.428893,0.008877,2412.187697,44384.253621,1728.2700,77749.679688,75992.100566,True,True
55,MPT,MPACT LIMITED,0.084886,56.0,2023-08-10,2902.0,0.018888,-0.887978,0.013306,2292.491831,66528.112924,2700.9500,77749.679688,75992.100566,True,True
57,PPC,PPC LIMITED,0.071715,58.0,2023-08-10,276.0,0.024690,-5.802048,0.010179,18440.199549,50894.950755,265.4400,77749.679688,75992.100566,True,True
62,ABG,ABSA GROUP LIMITED,0.020242,63.0,2023-08-10,18468.0,0.013774,0.549899,0.018245,493.968727,91226.144528,17186.9500,77749.679688,75992.100566,True,True
64,SOL,SASOL LIMITED,0.009644,65.0,2023-08-10,26482.0,0.021201,7.214575,0.011854,223.811478,59269.755653,23965.9400,77749.679688,75992.100566,True,True
65,ATT,ATTACQ LIMITED,0.008937,66.0,2023-08-10,878.0,0.015232,-0.340522,0.016499,9395.802590,82495.146739,854.5700,77749.679688,75992.100566,True,True
66,SSK,STEFANUTI STCK HLDGS LTD,0.004775,67.0,2023-08-10,132.0,0.037091,4.761905,0.006776,25665.328912,33878.234164,131.8700,77749.679688,75992.100566,True,True
67,ADW,AFRICAN DAWN CAPITAL LTD,0.004703,68.0,2023-08-10,15.0,0.062573,-16.666667,0.004016,133880.822268,20082.123340,12.8622,77749.679688,75992.100566,True,True
68,HYP,HYPROP INV LTD,0.004657,69.0,2023-08-10,3316.0,0.014559,12.140683,0.017262,2602.800610,86308.868215,3092.0000,77749.679688,75992.100566,True,True
69,MTNZF,MTN ZAKHELE FUTHI,0.004566,70.0,2023-08-10,2100.0,0.031458,7.692308,0.007989,1902.156295,39945.282191,1895.6100,77749.679688,75992.100566,True,True
70,MSP,MAS REAL ESTATE INC.,0.004238,71.0,2023-08-10,2170.0,0.012921,13.791295,0.019451,4481.767437,97254.353388,2089.9300,77749.679688,75992.100566,True,True
71,PRX,PROSUS N.V.,0.002253,72.0,2023-08-10,140743.0,0.019895,0.870070,0.012632,44.876432,63160.436043,135907.3600,77749.679688,75992.100566,True,True
72,ARL,ASTRAL FOODS LTD,0.002232,73.0,2023-08-10,16650.0,0.009781,3.583427,0.025694,771.600352,128471.458634,15862.1700,77749.679688,75992.100566,True,True
75,SUR,SPUR CORPORATION LTD,0.001747,76.0,2023-08-10,2550.0,0.017505,8.974359,0.014357,2815.150532,71786.338566,2336.8900,77749.679688,75992.100566,True,True

In [131]:
buynew = ranking_table1 [~ ranking_table1 ['ticker'].isin( rebalance3 ['ticker'])]
index_names2 = ranking_table1 [( ranking_table1 ['close_90_roc'] >= 15)].index

# drop these given row indexes from dataFrame
ranking_table1.drop(index_names2, inplace = True)

buynamesnew2 = buynew [( buynew ['rank'] >= 71)].index

# drop these given row indexes from dataFrame
buynew.drop( buynamesnew2, inplace = True)

buynew

<ipython-input-131-9c57402317a6>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  buynew.drop( buynamesnew2, inplace = True)

,ticker,name,momentum_score,rank,date,close,20d_vol,close_90_roc,weight,units,ZAR,100d_sma,index,index_sma,trend,index_trend,bs
1,HCI,HOSKEN CONS INV LTD,1.209166,2.0,2023-08-10,22100.0,0.009565,9.405941,0.026276,118.894716,26275.732255,20753.0800,77749.679688,75992.100566,True,True,118.894716
2,INL,INVESTEC LTD,1.079940,3.0,2023-08-10,11235.0,0.010860,13.062292,0.023142,205.983670,23142.265354,10440.5100,77749.679688,75992.100566,True,True,205.983670
4,INP,INVESTEC PLC,1.002296,5.0,2023-08-10,11401.0,0.011341,13.816512,0.022160,194.368057,22159.902133,10525.5300,77749.679688,75992.100566,True,True,194.368057
11,MTH,MOTUS HOLDINGS LTD,0.467466,12.0,2023-08-10,10453.0,0.024062,6.783124,0.010444,99.918417,10444.472150,9681.1100,77749.679688,75992.100566,True,True,99.918417
32,KAL,KAAP AGRI LIMITED,0.254847,33.0,2023-08-10,3788.0,0.011253,-6.469136,0.022333,589.560427,22332.548961,3781.8700,77749.679688,75992.100566,True,True,589.560427
36,LAB,LABAT AFRICA LTD,0.197399,37.0,2023-08-10,8.0,0.123921,-11.111111,0.002028,25350.621447,2028.049716,7.8300,77749.679688,75992.100566,True,True,25350.621447
42,NPN,NASPERS LTD -N-,0.164651,43.0,2023-08-10,348141.0,0.020499,4.259741,0.012260,3.521627,12260.226655,324252.2400,77749.679688,75992.100566,True,True,3.521627
43,DCP,DIS-CHEM PHARMACIES LTD,0.152629,44.0,2023-08-10,2574.0,0.020867,-1.567878,0.012044,467.907908,12043.949541,2462.4400,77749.679688,75992.100566,True,True,467.907908
46,RDF,REDEFINE PROPERTIES LTD,0.141543,47.0,2023-08-10,372.0,0.013854,1.917808,0.018141,4876.608889,18140.985067,348.7000,77749.679688,75992.100566,True,True,4876.608889
47,SDO,STADIO HOLDINGS LIMITED,0.139903,48.0,2023-08-10,480.0,0.027808,6.666667,0.009038,1882.815424,9037.514037,451.6200,77749.679688,75992.100566,True,True,1882.815424
49,AFH,ALEXANDER FORBES GRP HLDGS,0.111509,50.0,2023-08-10,548.0,0.029951,5.791506,0.008391,1531.196377,8390.956145,521.8600,77749.679688,75992.100566,True,True,1531.196377
52,VKE,VUKILE PROPERTY FUND LTD,0.100207,53.0,2023-08-10,1386.0,0.009176,10.350318,0.027390,1976.201317,27390.150252,1267.8300,77749.679688,75992.100566,True,True,1976.201317
53,SYG,SYGNIA LIMITED,0.097435,54.0,2023-08-10,1840.0,0.028312,3.428893,0.008877,482.437539,8876.850724,1728.2700,77749.679688,75992.100566,True,True,482.437539
55,MPT,MPACT LIMITED,0.084886,56.0,2023-08-10,2902.0,0.018888,-0.887978,0.013306,458.498366,13305.622585,2700.9500,77749.679688,75992.100566,True,True,458.498366
57,PPC,PPC LIMITED,0.071715,58.0,2023-08-10,276.0,0.024690,-5.802048,0.010179,3688.039910,10178.990151,265.4400,77749.679688,75992.100566,True,True,3688.039910
64,SOL,SASOL LIMITED,0.009644,65.0,2023-08-10,26482.0,0.021201,7.214575,0.011854,44.762296,11853.951131,23965.9400,77749.679688,75992.100566,True,True,44.762296
65,ATT,ATTACQ LIMITED,0.008937,66.0,2023-08-10,878.0,0.015232,-0.340522,0.016499,1879.160518,16499.029348,854.5700,77749.679688,75992.100566,True,True,1879.160518
66,SSK,STEFANUTI STCK HLDGS LTD,0.004775,67.0,2023-08-10,132.0,0.037091,4.761905,0.006776,5133.065782,6775.646833,131.8700,77749.679688,75992.100566,True,True,5133.065782
67,ADW,AFRICAN DAWN CAPITAL LTD,0.004703,68.0,2023-08-10,15.0,0.062573,-16.666667,0.004016,26776.164454,4016.424668,12.8622,77749.679688,75992.100566,True,True,26776.164454
68,HYP,HYPROP INV LTD,0.004657,69.0,2023-08-10,3316.0,0.014559,12.140683,0.017262,520.560122,17261.773643,3092.0000,77749.679688,75992.100566,True,True,520.560122
69,MTNZF,MTN ZAKHELE FUTHI,0.004566,70.0,2023-08-10,2100.0,0.031458,7.692308,0.007989,380.431259,7989.056438,1895.6100,77749.679688,75992.100566,True,True,380.431259